version: "3.8"

services:
  db:
    image: postgres
    container_name: questions-db
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=1234
      - POSTGRES_DB=questions
    ports:
      - '5432:5432'
    networks:
      - app-network

  spring-boot-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8083:8083"
    depends_on:
      - db
    networks:
      - app-network

networks:
  app-network:
    driver: bridge